<!-- studybuddy/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Study Buddy</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <h1 class="logo">📚 My Study Buddy</h1>
            <div class="nav-links">
                <a href="{% url 'topic_summary' %}">Summarizer</a>
                <a href="{% url 'quiz_list' %}">Quizzes</a>
                <a href="{% url 'chatbot' %}">Chat Buddy</a>
                {% comment %} <a href="{% url 'take_quiz' topic='biology' %}">Quizzes</a> {% endcomment %}
            </div>
        </div>
    </nav>
    
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>